@keyframes infomessage_kit {
	0%,100%{background-color: yellow; left: 0%; top: 0%;}
	25%{background-color: blue; left: 98%; top: 0%;}
	50%{background-color: green; left: 98%; top: 98%;}
	75%{background-color: red; left: 0%; top: 98%;}
}
table th, table td, table tr {
	text-align: center;
}
/*h1 {
	display: block;
	width: 10px;
	height: 10px;
	font-size: 1px;
	background-color: red;
	border: 1px solid red;
	border-radius: 10px;
	left: 0px;
	top: 0px;
	position: relative;
	
	-webkit-animation: infomessage_kit 120s infinite;
	-moz-animation: infomessage_kit 120s infinite;
	-o-animation: infomessage_kit 120s infinite;
	-ms-animation: infomessage_kit 120s infinite;
	animation: infomessage_kit 120s infinite;
}*/
table {
	border: 1px solid #000;
	padding: 3px;
}
table td, table th {
	border: 1px solid blue;
	padding: 3px;
}
table tr:hover {
	background-color: gray;
}
table hr, a[href="/"], img[src="/icons/back.gif"] {
	display: none;
}
th[colspan=5] {
	display: block;
}
a {
	color: yellow;
	background-color: blue;
	border: 1px solid red;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	
	background-image: linear-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
	background-image: -moz-linear-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
	background-image: -webkit-linear-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
	background-image: -webkit-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
	background-image: -o-linear-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
	background-image: -ms-linear-gradient(center bottom, red 20%, blue 100%, #707070 51%, #838383 100%);
}
a:hover {
	border: 1px solid blue;
	
	background-image: linear-gradient(center bottom, blue 20%, red 100%, #707070 51%, #838383 100%);
	background-image: -moz-linear-gradient(center bottom, blue 20%, red 100%, #707070 51%, #838383 100%);
	background-image: -webkit-linear-gradient(center bottom, blue 20%, red 100%, #707070 51%, #838383 100%);
	background-image: -o-linear-gradient(center bottom, blue 20%, red 100%, #707070 51%, #838383 100%);
	background-image: -ms-linear-gradient(center bottom, blue 20%, red 100%, #707070 51%, #838383 100%);
}
.imprint, .imprint *, .imprint:hover, .imprint *:hover {
	background-image: none;
	font-size: 16px;
}
.imprint, .imprint a {
	display: inline-block;
	color: white;
	padding: 3px;
	margin: 2px;
	margin-top: 3px;
	border: 2px dotted green;
	text-decoration: none;
	background-color: black;
}
.imprint:hover, .imprint:hover a {
	color: white;
	border: 2px dotted black;
	background-color: green;
}
.allShow, .allShow div, .allShow p {
	display: block;
}
.allShow font, .allShow h1, .allShow h2 {
	display: inline-block;
}
.allShow a {
	display: inline;
}
h1 {
	font-size: 26px;
}
h2 {
	margin: 0px;
	font-size: 18px;
}
h1, h2 {
	margin-bottom: 10px;
}
.allShow h1, .allShow h2{
	width: auto;
	height: auto;
	background-color: lightyellow;
	border: none;
	border-bottom: 2px dotted gray;
	left: auto;
	top: auto;
	position: relative;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	-ms-animation: none;
	animation: none;
}
.box {
	display: block;
	margin-bottom: 5px;
}
.box input {
	border: 1px solid black;
	background-color: green;
	color: white;
	padding: 2px;
	margin-right: 10px;
}
.box input:hover {
	background-color: blue;
}
.box button, #sorby input[type="submit"] {
	border: none;
	background-color: gold;
	color: black;
}
.box button:hover, #sorby input[type="submit"]:hover {
	background-color: black;
	color: gold;
}
.box button:active, #sorby input[type="submit"]:active {
	color: yellow;
}
#sorby select {
	background-color: yellow;
	color: blue;
	border: 1px solid pink;
	padding: 0px;
}
#sorby select option {
	background-color: blue;
	color: yellow;
	padding: 2px;
}
th a, th a:hover, tr th, tr th:hover {
	background-image: none;
	background-color: white;
	color: black;
	border: none;
}
.topA {
	text-decoration: underline;
	color: blue;
	background-color: gold;
	background-image: none;
	border: none;
	display: inline-block;
	margin-top: 6px;
	margin-bottom: 4px;
}
.topA:hover {
	text-decoration: underline;
	color: red;
	background-color: yellow;
	background-image: none;
	border: none;
}
.da {
	margin-top: 5px;
}