<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        
        <meta name="title" content="<%= title %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="DC.Subject" content="<%= title %>">
        <meta name="DC.Format" content="text/html">
    </head>
    <body>
      <p>This is a jumper service. To use it, go to the following URL:<br>
         [JUMPER]/jump/[EEPSITE]</p>
    </body>
</html>

