<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        
        <meta name="title" content="<%= title %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="DC.Subject" content="<%= title %>">
        <meta name="DC.Format" content="text/html">
        
        <meta http-equiv="refresh" content="1; url=<%= redirect %>">
    </head>
    <body>
      <p>Jump to <%= eepsite  %>. You should be redirected automatically. If not click <a href="<%= redirect %>">here</a>.</p>
    </body>
</html>